/* Gallery page stylesÍ */

/* Header styles */

header {
    height: 43%;
}

header #page-title {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 115%;
}

header h1 {
    width: 115%;
    text-align: center;
    font-size: 5.2em;
}

/* Main styles */

main #gallery {
    width: 100%;
}

main #gallery a {
    display: inline-block;
    position: relative;
    top: 0;
    width: 31%;
    /* max-height: 352px; */
    /* max-height: auto; */
    /* border: 1px solid grey; */
    float: inherit;
    margin: 0 1%;
    margin-top: 34px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#gallery img {
    width: 100%;
}

main #gallery a:hover,
main #gallery a.hover {
    cursor: pointer;
    top: -4.3px;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/* main #gallery a :hover+.box,
.left-of-hover {
    top: -7px;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
} */

#pagination {
    /* text-align: center; */
    width: 10%;
    margin: 0 auto;
    margin-top: 4%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caret-contain {
    width: 34px;
    height: 34px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    transition: all .43s;
    -webkit-transition: all .43s;
    -moz-transition: all .43s;
    -ms-transition: all .43s;
    -o-transition: all .43s;
}

.caret-contain:hover {
    border: 1px solid #000;
    background-color: ivory;
}

.caret-contain span {
    width: 0;
    height: 0;
    /*   display: inline-block; */
    border: 7px solid transparent;
}

.caret-contain.caret-right:hover span {
    border-left-color: black;
}

.caret-right {
    margin-left: 12%;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}

.caret-contain.caret-left:hover span {
    border-right-color: black;
}

.caret-left {
    margin-right: 12%;
    border-radius: 50% 0 0 50%;
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
}

.caret-right span {
    border-left-color: ivory;
}

.caret-left span {
    border-right-color: ivory;
}

.caret-contain.disable {
    background-color: lightgray;
}

.caret-contain:hover {
    border: 0;
}

.caret-contain.caret-right:hover span {
    border-left-color: ivory;
}
.caret-contain.caret-left:hover span {
    border-right-color: ivory;
}

.page-number {
    float: left;
    display: flex;
    align-items: center;
}