/* Based on design of this website: https://abednegocoffee.com/ */


/*
  Main Fonts

  font-family: 'Roboto Slab', serif;
  font-family: 'Fredoka One', cursive;

  */


/* Base Styles */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', Arial, cursive;
    font-size: 17px;
    /* background-color: ivory; */
}

body.loading {
    overflow: hidden;
}

a {
    display: block;
    text-decoration: none;
    color: ivory;
}

#loader.hide {
    animation: hide .43s linear;
    animation-fill-mode: forwards;
    /* display: none; */
}

@keyframes hide {
    100% {
        /* transform: scale(.43); */
        opacity: 0;
        /* display: none; */
        z-index: -1;
    }
}

#loader {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#loader #spinner {
    animation: spin 0.7s infinite linear;
    border-radius: 100%;
    border: 17px solid transparent;
    border-right-color: ivory;
    border-bottom-color: ivory;
    border-left-color: ivory;
    width: 100px;
    height: 100px;
    position: relative;
}

#loader #spinner:before,
#loader #spinner:after {
    background-color: ivory;
    content: "";
    display: block;
    width: 16.5px;
    height: 16.5px;
    border-radius: 100%;
    position: absolute;
}

#loader #spinner:before {
    top: -3.5px;
    right: -5.5px;
}

#loader #spinner:after {
    top: -3.5px;
    left: -5.5px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contain {
    padding: 0 15%;
}

/* Header styles */

header {
    width: 100%;
    height: 100%;
    color: ivory;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* background-image: url("../img/arusha-crown-hotel-11-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* display: flex; */
}

header nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    /* padding: 0 15%; */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

header nav:after {
    content: "";
    display: table;
    clear: both;
}

header nav a {
    width: 3.4%;
    height: auto;
    margin-top: .7em;
    float: left;
}

header nav a img {
    width: 100%;
    height: auto;
}

header nav ul {
    width: 92%;
    height: 100%;
    display: flex;
    list-style-type: none;
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

header nav ul li {
    float: left;
    width: 14.67%;
}

header nav ul li a {
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .4s;
}

header nav ul li a:hover {
    color: #818181;
    /* background-color: ivory;
    color: #181818; */
}

header #cta-banner {
    width: 100%;
    height: 90%;
    display: flex;
    position: relative;
    bottom: 14%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}

header #cta-banner>div {
    width: 43%;
    height: 43%;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.4em;
}

header #cta-banner h2,
header #cta-banner h3 {
    letter-spacing: 3px;
    font-size: 1.21em;
}

header #cta-banner h2 {}

header #cta-banner h2 span {
    text-decoration: underline;
}

header #cta-banner h3 {
    margin-bottom: 7px;
}

header #cta-banner a {
    font-family: 'Roboto Slab', serif;
    width: 17%;
    display: block;
    border: 1px solid ivory;
    border-radius: 4px;
    margin: 0 auto;
    padding: 17px;
    transition: all .4s;
    position: relative;
    bottom: -17%;
}

header #mouse {
    width: 34px;
    height: 61px;
    border: 3px solid ivory;
    border-radius: 17px;
    margin: 0 auto;
    position: relative;
    bottom: 1%;
}

header #mouse div {
    width: 3px;
    height: 7px;
    background-color: ivory;
    margin: 0 auto;
    position: relative;
    top: 7px;
    opacity: 0;
    animation: wheelscroll 1s ease-out infinite;
}

@keyframes wheelscroll {
    4% {
        opacity: 1;
    }
    100% {
        transform: translateY(25px);
        opacity: 0;
    }
}

header #cta-banner a:hover {
    background-color: ivory;
    color: #181818;
}


/* Main Styles */
main {
    padding: 2.5% 15%;
}

main:after {
    display: table;
    content: "";
    clear: both;
}

/* Footer Styles */

footer {
    text-align: center;
    background-color: rgba(0,0,0,0.92);
    padding: 14px;
    color: ivory;
    width: 100%;
}